html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Epilogue", sans-serif;
}
body {
  background-color: #f2f2f2;
}
header {
  display: flex;
  flex-direction: row;
  padding: 3.2rem 4rem;
  max-width: 120rem;
  margin: 0 auto;
}
header .main-logo {
  flex-grow: 1;
  margin-right: 2rem;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-grow: 9;
}
header nav .nav-links-container,
header nav .nav-button-container {
  display: flex;
  align-items: center;
}
header nav .nav-links-container {
  justify-content: space-between;
}
header nav .nav-links-container li {
  margin-left: 4rem;
}
header nav .nav-links-container li:focus,
header nav .nav-links-container li:hover {
  color: #151515;
}
header nav .nav-links-container li svg {
  vertical-align: middle;
}
header nav .nav-links-container .nav-dropdown {
  position: relative;
}
header nav .nav-links-container .nav-dropdown .nav-dropdown-content {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  padding: 2rem;
  box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
header nav .nav-links-container .nav-dropdown:active > li + .nav-dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
header nav .nav-button-container {
  justify-content: space-between;
  margin-left: auto;
}
header nav .nav-button-container .round-button {
  margin-left: 6rem;
  border: 1px solid #686868;
  padding: 1rem;
  border-radius: 10px;
}
header nav li,
header nav .nav-button {
  color: #686868;
  font-size: 1.4rem;
  cursor: pointer;
}
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 8rem 10rem;
  max-width: 140rem;
  margin: 0 auto;
}
.main-container .main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 47.5%;
}
.main-container .main-content-container h1 {
  margin-top: auto;
  font-size: 7.6rem;
  font-weight: 700;
  color: #151515;
}
.main-container .main-content-container #typewritten {
  color: #726cee;
  position: relative;
  overflow: hidden;
}
.main-container .main-content-container #typewritten::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  border-left: 2px solid #726cee;
  animation: typing 1.5s steps(5) infinite;
}
.main-container .main-content-container .hero-details {
  margin-top: auto;
  font-size: 2.2rem;
  font-weight: 500;
  color: #686868;
  line-height: 2;
}
.main-container .main-content-container .hero-button {
  margin-top: auto;
  background-color: #151515;
  color: #ffffff;
  border: 1px solid #151515;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-container .main-content-container .hero-button:hover {
  background-color: #ffffff;
  color: #151515;
}
.main-container .main-content-container .client-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-container .hero-image {
  height: auto;
  width: 45%;
  z-index: 10;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -75px 0 75px;
  }
}
