@import "reset.less";
@import "variables.less";
@import "global.less";
@import "nav.less";

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 8rem 10rem;
  max-width: 140rem;
  margin: 0 auto;
  @media only screen and (max-width: @large) {
    padding: 5rem;
  }
  @media only screen and (max-width: @large-tablet) {
    flex-direction: column-reverse;
  }

  .main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 47.5%;
    @media only screen and (max-width: @large-tablet) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    h1 {
      margin-top: auto;
      font-size: @large-text;
      font-weight: 700;
      color: @black;
      @media only screen and (max-width: @large) {
        font-size: 5.4rem;
      }
      @media only screen and (max-width: @large-tablet) {
        margin-bottom: 5rem;
      }
    }

    #typewritten {
      color: @purple;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background: @light-grey;
        border-left: 2px solid @purple;
        animation: typing 1.5s steps(5) infinite;
      }
    }

    .hero-details {
      margin-top: auto;
      font-size: @medium-text;
      font-weight: 500;
      color: @medium-gray;
      line-height: 2;
      @media only screen and (max-width: @large-1) {
        font-size: 1.6rem;
      }
      @media only screen and (max-width: @large-tablet) {
        margin-bottom: 5rem;
      }
    }
    .hero-button {
      margin-top: auto;
      background-color: @black;
      color: @white;
      border: 1px solid @black;
      border-radius: 10px;
      padding: 1.5rem 2rem;
      cursor: pointer;
      font-size: @button-text;
      transition: all 0.3s;

      @media only screen and (max-width: @large-1) {
        font-size: 1.6rem;
      }
      @media only screen and (max-width: @large-tablet) {
        margin-bottom: 10rem;
      }

      &:hover {
        background-color: @white;
        color: @black;
      }
    }

    .client-container {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      svg {
        @media only screen and (max-width: @large-1) {
          transform: scale(0.75);
        }
      }
    }
  }
  .hero-image-desktop {
    height: auto;
    width: 45%;
    z-index: 5;
    @media only screen and (max-width: @large-tablet) {
      display: none;
    }
  }
  .hero-image-mobile {
    display: none;
    @media only screen and (max-width: @large-tablet) {
      display: block;
      width: 100%;
      margin-bottom: 5rem;
    }
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -75px 0 75px;
  }
}
