@large-text: 7.2rem;
@medium-text: 2.2rem;
@small-text: 1.4rem;
@button-text: 1.8rem;

@light-grey: #f2f2f2;
@black: #151515;
@medium-gray: #686868;
@light-gray: #adadad;
@almost-white: #fafafa;
@white: #ffffff;
